#root {
  position: relative;
}

h1 {
  border-bottom: 1px solid rgb(165, 165, 165);
}

h2 {
  text-transform: capitalize;
  margin-bottom: 14px;
}

button {
  padding: 3px 12px;
  border-style: none;
  background-color: rgb(32, 32, 32);
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

button:not([type='submit']) {
  background-color: #2381ad;
  margin-left: 5px;
}

.anecdote {
  margin-bottom: 15px;
}

.anecdote li {
  font-size: 18px;
}

.anecdote div {
  margin-top: 5px;
}


input {
  margin-bottom: 12px;
}

.notification {
  color: hsl(120, 100%, 17%);
  background-color: hsl(120, 100%, 96%);
  padding: 20px;
  font-family: 'Lato';
  text-align: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  animation: slide-in-out 5s cubic-bezier(0.16, 1, 0.3, 1);
  box-shadow: 0 4px 22px hsla(0, 0%, 89%, 0.432)
}

@keyframes slide-in-out {
  20% {
    transform: translate(-50%, 0%);
  }

  80% {
    transform: translate(-50%, 0%);
  }

  100% {
    transform: translate(-50%, -100%);
  }
}
